:root {
  --stage-main-color: #fbfc87;
  --stage-tent-color: #ffaaf4;
  --stage-silesia-color: #4bf8ad;
  --stage-new-color: #ffe793;
  --stage-smolna-color: #74fea8;
  --stage-raban-color: #7571e7;
  --stage-astral-color: #e330c6;
  --stage-eden-color: #ff8561;
  --cell-height: 70px;
  --primary-color: #fff;
  --secondary-color: #000;
  --bg-color: #fff;
  --font-color: #000;
  --concerts-font-color: #000;
}

[data-theme='dark'] {
  --stage-main-color: #e2e37a;
  --stage-tent-color: #e699dc;
  --stage-silesia-color: #44df9c;
  --stage-new-color: #e6d084;
  --stage-smolna-color: #68e597;
  --stage-raban-color: #7571e7;
  --stage-astral-color: #bf3ebc;
  --primary-color: #222222;
  --stage-eden-color: #ff8561;
  --secondary-color: #fff;
  --font-color: #fff;
  --bg-color: #222222;
  --heading-color: #818cab;
  --concerts-font-color: #000;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  /* background-color: white; */
}

h1 {
  text-align: center;
}

h1 span {
  padding: 0.5rem;
  border: 3px solid var(--secondary-color);
}

.menu {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  padding-top: 10px;
  background: var(--bg-color);
  top: 0;
}

.menu-top {
  height: 1px;
  background-color: blue;
}

.menu__item {
  margin-bottom: 10px;
}

.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background: var(--bg-color);
  transform: translateY(-100%);
  transition: all 0.3s;
  z-index: 90;
  padding-top: 10px;
}

.sticky-menu_active {
  transform: translateY(0);
}

.sticky-menu_active .menu__item {
  padding: 2px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 3px solid var(--secondary-color);
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 800;
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
}

.button_light {
  background: var(--primary-color);
}

.hearts {
  margin-left: 30px;
}

.button_active {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.day__name {
  font-size: 0.5em;
}

.timetable {
  display: flex;
}

.timelines {
  cursor: grab;
  overflow-x: scroll;
}

.timelines__scroll {
  position: relative;
  overflow: hidden;
  padding: 12px 0;
}

.timeline,
.stage {
  display: flex;
  position: relative;
  height: var(--cell-height);
  margin: 5px 0;
}

.stages {
  padding: 12px 0;
}
.stage__name {
  width: 80px;
  box-sizing: border-box;
  padding: 2px;
  border: 3px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

.concert-wrapper {
  box-sizing: border-box;
  padding: 0 2px;
  position: absolute;
  height: 100%;
}

.concert {
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 0 0px var(--secondary-color);
  transition: box-shadow 0.3;
  color: var(--concerts-font-color);
}

.concert_active {
  box-shadow: inset 0 0 0 2px var(--secondary-color);
}

.concert__time {
  font-size: 0.6em;
  font-weight: 600;
}

.concert__artist {
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}

.concert__extra {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.6em;
}

.concert__heart {
}

.concert__fav {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.2s;
}

.concert__fav_active {
  opacity: 0.9;
}

.concert_main {
  background-color: var(--stage-main-color);
}

.concert_tent {
  background-color: var(--stage-tent-color);
}

.concert_silesia {
  background-color: var(--stage-silesia-color);
}

.concert_new {
  background-color: var(--stage-new-color);
}

.concert_smolna {
  background-color: var(--stage-smolna-color);
}

.concert_raban {
  background-color: var(--stage-raban-color);
}

.concert_astral {
  background-color: var(--stage-astral-color);
}

.concert_eden {
  background-color: var(--stage-eden-color);
}

.time,
.grid {
  position: absolute;
  top: 0;
  width: 2px;
  bottom: 0;
  /* opacity: 0.3; */
  transition: transform 1s;
}

.grid__line {
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  opacity: 0.3;
  background: var(--secondary-color);
}

.time {
  background: rgba(239, 0, 101);
  animation: pulse 0.6s alternate infinite;
}

.grid__time {
  margin-left: 0.3em;
  font-size: 0.8em;
  color: var(--secondary-color);
  font-weight: 600;
  position: absolute;
}

.grid__time_bottom {
  bottom: 0;
}

.no-selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.concert__youtube {
  width: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  line-height: 0;
  cursor: pointer;
}

.concert__youtube-logo {
  max-width: 100%;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.modal {
  position: fixed;
  z-index: 91;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.modal__button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.modal__box {
  z-index: 1;
  width: 80vw;
}

.modal__map {
  max-width: 100%;
  max-height: 100%;
}

.bus__title {
  font-size: 1.4em;
}
.bus {
  padding: 16px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 0.6em;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

.settings__title {
  font-size: 1.4em;
}
.settings {
  padding: 16px;
  background: var(--bg-color);
  color: var(--font-color);

  font-size: 0.6em;
}

.settings .menu {
  margin: 0;
  padding: 0;
}

.settings h2 {
  margin: 0;
  text-align: center;
}

.search-modal {
  color: var(--primary-color);
  position: fixed;
  top: 0;
  bottom: 0;
  /* width: 85vw; */
  left: 0;
  right: 0;
}

.search-modal__list {
  overflow-y: scroll;
  height: calc(100% - 52px);
}

.search-modal__close {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  /* : 3px solid var(--secondary-color); */
}

.search-modal__input {
  padding: 10px;
  display: flex;
  flex: 1;
  background: var(--primary-color);
}

.search-modal__empty {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1rem;
  background: var(--primary-color);
  padding: 10px;
  text-align: center;
}

.search-modal__input-wrapper {
  display: flex;
  flex: 1;
}

.search-input {
  border-radius: 0;
  width: 100%;
  height: 50px;
  box-shadow: none;
  border: none;
  font-size: 1.4rem;
  outline: none;
  background: var(--primary-color);
  padding-left: 10px;
  font-weight: bold;
  color: var(--secondary-color);
}

.search-concert {
  /* width: 100%; */
  color: var(--concerts-font-color);
  position: relative;
  font-weight: 800;
  padding: 0.5rem;
  border: 3px solid var(--secondary-color);
  margin-bottom: 5px;
  cursor: pointer;
}

.search-concert__title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-concert__stage {
  font-size: 0.7rem;
}
.search-concert__day {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
}

.search-concert__time {
  margin: 0;
  padding: 0;
}

.search-concert__extra {
  font-size: 0.6em;
  margin-left: 0.5em;
}
