:root{
  --main-color: #FBFC87;
  --tent-color: #FFAAF4;
  --silesia-color: #4BF8AD;
  --new-color: #FFE793;
  --smolna-color: #74FEA8;
  --raban-color: #FEFD7F;
  --astral-color: #FE53FA;
  --cell-height: 70px;
}

.timetable{
  display:flex;
}


.timelines{
  overflow-x: scroll;
}

.timeline, .stage{
  display: flex;
  position: relative;
  height: var(--cell-height);
  margin: 5px 0;
}


.stage__name{
  width: 80px;
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

.concert-wrapper{
  box-sizing: border-box;
  padding: 0 2px;
  position: absolute;
  height: 100%;
}

.concert{
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.concert__time{
  font-size: 0.6em;
  font-weight: 600;
}

.concert__artist{
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}

.concert_main{
  background-color: var(--main-color);
}

.concert_tent{
  background-color: var(--tent-color);
}

.concert_silesia{
  background-color: var(--silesia-color);
}

.concert_new{
  background-color: var(--new-color);
}

.concert_smolna{
  background-color: var(--smolna-color);
}

.concert_raban{
  background-color: var(--raban-color);
}

.concert_astral{
  background-color: var(--astral-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
